<div id="showWrapper">

	<p id="notice"><%= notice %></p>

	<p>
	  <b>Name:</b>
	  <%= @task.name %>
	</p>

	<p>
	  <b>Completion date:</b>
	  <%= @task.completion_date.strftime("%A - %B %d, %Y") %>
	</p>

	<p>
	  <b>Completed:</b>
	  <%= @task.date_completed %>
	</p>


	<%= link_to 'Edit', edit_task_path(@task) %> |
	<%= link_to 'Back', tasks_path %>

</div>